<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="static/img/favicon.png">

        <title>Portfólio | Flavio Wu</title>

        <link rel="stylesheet" href="../static/styles/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="\">
                        Início
                    </a>
                </li>
                <li>
                    <a href="#sobreMim">
                        Sobre mim
                    </a>
                </li>
                <li>
                    <a href="#projetos">
                        Projetos
                    </a>
                </li>
                <li>
                    <a href="#habilidades">
                        Habilidades
                    </a>
                </li>
                <li>
                    <a href="#contato">
                        Contato
                    </a>
                </li>
            </ul>
        </nav>
        <header id="inicio">
            <div>
                <p>
                    “I think that my job is to observe people and the world, and not to judge them. I always hope to
                    position myself away from so-called conclusions. I would like to leave everything wide open to all
                    the possibilities in the world.”
                </p>
                <span>― Haruki Murakami</span>
            </div>
            <div id="img-selo">
                <img src="../static/img/original-seal.png" alt="Selo">
            </div>
        </header>

        <section id="sobreMim">
            <div id="selfie">
                <img src="../static/img/selfie-portfolio.png" alt="selo chinês do Flavio">
            </div>
            <div id="texto-sobre">
                <p>
                    Meu nome é Flavio Ming Zhe Wu e tenho 39 anos. A maioria das pessoas me chamam de Flavio mesmo,
                    algumas mais íntimas de Ming, outras mais íntimas ainda de meu querido ou meu amor.
                </p>
                <p>
                    Sou formado em Engenharia Eletrônica mas a vida me levou a navegar em humanidades,
                    e acabei com uma formação em Letras com habilitação em Chinês, por conta do meu gosto por línguas
                    estrangeiras e pela minha ascendência.
                    Depois fiz uma pós em Política e Relações Internacionais, assunto que queria explorar em uma época
                    em
                    que nosso país era protagonista mundial.
                </p>
                <p>
                    Trabalhei como Engenheiro, depois como Tradutor e fui até dono de restaurante.
                    Hoje busco mudar novamente meus caminhos, agora como desenvolvedor
                    de software, cuja aptidão considero muito grande mas deixei de lado no passado.
                </p>
            </div>
        </section>

        <section id="projetos">
            <div class="card">
                <img src="../static/img/urna.jpg" alt="imagem urna eletrônica">
                <div class="projeto-texto">
                    <h2>Simulador de Urna Eletrônica</h2>
                    <p>
                        Código em Python que simula uma urna de votação eletrônica e suas principais funções.
                    </p>
                </div>
                <a href=""><button>Veja Mais</button></a>
            </div>
            <div class="card">
                <img src="../static/img/exchange.jpg" alt="figura de duas flechas com sifrão no meio">
                <div class="projeto-texto">
                    <h2>Conversor de Moedas</h2>
                    <p>
                        Um conversor de moedas usando um API, Python e Flask.
                    </p>
                </div>
                <a href="https://conversordemoedas.herokuapp.com/"><button>Veja Mais</button></a>
            </div>
            <div class="card">
                <img src="../static/img/covid19-banner.jpg" alt="figura contém o texto em inglês covid-19 coronavirus disease">
                <div class="projeto-texto">
                    <h2>Uma análise sobre Covid-19</h2>
                    <p>
                        Um Jupyter Notebook, contendo uma reaquisição a uma API, tratamento de dados e geração de gráfico.
                    </p>
                </div>
                <a href=""><button>Veja Mais</button></a>
            </div>
            
            <div class="card">
                <img src="../static/img/github.png" alt="ícone do Github">
                <div class="projeto-texto"> 
                    <h2>Repositórios do GitHub</h2>
                    <p>
                        Página em React.JS que, dado um usuário, faz uma requisição à API do GitHub e retorna seus
                        repositórios.
                    </p>
                </div>
                    <a href="https://git-repo-test.netlify.app">
                        <button>Veja Mais</button>
                    </a>
            </div>
        </section>

        <section id="habilidades">
            <h2>Habilidades Técnicas</h2>

            <p>Python</p>
            <div>
                <span id="python">75 %</span>
            </div>

            <p>Java</p>
            <div>
                <span id="java">60 %</span>
            </div>

            <p>JavaScript</p>
            <div>
                <span id="javaScript">62 %</span>
            </div>

            <p>mySQL</p>
            <div>
                <span id="mySQL">65 %</span>
            </div>

            <p>HTML 5</p>
            <div>
                <span id="html">46 %</span>
            </div>

            <p>CSS</p>
            <div>
                <span id="css">35 %</span>
            </div>
        </section>

        <section id="contato">

            <div id="redes">
                <h3>Se conecte comigo</h3>

                <div id="icons">
                    <a href="https://www.linkedin.com/in/flaviowu/" target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>

                    <a href="https://github.com/flaviowu" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>

                    <a href="https://www.instagram.com/flaviowu/" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>

            </div>
            <Section id="contato">
                <div id="form">

                    <h3>Mande uma mensagem</h3>

                    <form action="/send" method="POST">

                        <label for="nome">Nome</label>
                        <input id="nome" name="nome" type="text" placeholder="Digite seu nome aqui" required>
                        <p class="warning" id="warnName"></p>

                        <label for="email">E-mail</label>
                        <input type="email" id="email" name="email" placeholder="usuario@servidor.abc" required> 
                        <p class="warning" id="warnEmail"></p>

                        <label for="mensagem">Mensagem</label>
                        <textarea name="mensagem" id="mensagem" cols="10" rows="5" placeholder="Digite sua mensagem" required></textarea>
                        <p class="warning" id="warntxtArea"></p>

                        <button type="submit" id="enviar">Enviar</button>

                    </form>
            </Section>

        </section>

        <!-- Fim do Contato -->

        <footer>
            <p>Desenvolvido por Flavio Wu em Jul/2021</p>
        </footer>
    <script src="../static/js/script_contato.js"></script>
    </body>

</html>
