
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Mukta', sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    background-color: rgb(0, 0, 0);
    list-style: none;
    display: flex;
    justify-content: center; /*flex-start, flex-end */
    padding: 1px 0 0 0;
}

nav ul li {
    padding: 1rem;
    transition: .6s ease-in-out;
    border-radius: .1rem;
}
nav ul li:hover {
    background-color: #dd0000;
    transform: scale(1.05);
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

header#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 0 0;
    padding: 3rem 3rem 1rem 3rem;
}

header#inicio div {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 5rem;
}

header#inicio div p {
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 3vw;
    text-align:left;
    font-size: 2rem;
    font-weight: 300;
    color: black;
}

header#inicio div span {
    font-size: 1vw;
    font-weight: 500;
    text-align: right;
    margin: 2rem 5rem 0 0;
    color:  #00000090;
}

header#inicio div#img-selo {
    margin: 2rem;
}

header#inicio div#img-selo img{
    width: 20vw;
}

section#sobreMim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    background-color: #000000;
}

/* section#sobreMim div#selfie {
} */

section#sobreMim div#selfie img {
    border-radius: 1.8vw;
    margin: 1.2vh 1.2vw 1.2vh 1.2vw;
    height: 75vh;
}

section#sobreMim div#texto-sobre {
    width: 65%;
}

section#sobreMim div#texto-sobre p {
    font-size: 1.3vw;
    text-align: justify;
    margin-left: 5vw;
    color: #fff;
    line-height:  2.5rem;
}

section#projetos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 3rem;
}

section#projetos div.card {
    width: 20vw;
    /* height: 52vh; */
    border-radius: .5rem;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    transition: .6s ease-in-out;
}

section#projetos div.card img {
    margin: auto;
    display: inline-block;
    border-radius: .5rem;
    height: 8.5rem;
}

section#projetos div.card div.projeto-texto{
    height: 35vh;

}

section#projetos div.card:hover {
    background-color: #000000;
    color: #fff;
    transform: scale(1.1);
}

section#projetos div.card div.projeto-texto p{
    margin: .5vw;
    height: 20vh;
    text-align: center;
}

section#projetos div.card div.projeto-texto h2{
    padding: 2rem;
    height: 10vh;
}

section#projetos div.card a button {
    border: 1px solid #000000;
    background-color: rgb(255, 255, 255);
    color: #000000;
    margin: auto;
    padding: 1rem;
    font-size: .8vw;
    border-radius: .5rem;
    margin-top: 2rem;
    cursor: pointer;
    font-weight: 600;
    transition: .6s ease-in-out;
}

section#projetos div a button:hover {
    background-color: #dd0000;
    color: rgb(255, 255, 255);
    border-color: #dd0000;
    transform: scale(1.2);
}

section#habilidades {
    background-color: #000000;
    padding: 3rem 10rem 5rem 10rem;
}

section#habilidades h2{
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

section#habilidades p {
    color: #fff;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
}

section#habilidades div {
    display: flex;
    border: 1px solid #dd0000;
    border-radius: 1rem;
}

section#habilidades div span#python {
    background-color: #dd0000;
    color: #ffff;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 65%;
}

section#habilidades div span#java {
    background-color: #dd0000;
    color: #ffff;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 60%;

}
section#habilidades div span#javaScript {
    background-color: #dd0000;
    color: #ffff;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 62%;
}

section#habilidades div span#mySQL {
    background-color: #dd0000;
    color: #ffff;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 65%;
}
section#habilidades div span#html {
    background-color: #dd0000;
    color: #ffff;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 46%;
}
section#habilidades div span#css {
    background-color: #dd0000;
    color: #ffff;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 35%;
}

section#contato {
    padding: 1rem 0 2rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
 
section#contato div#redes{
   width: 100%;
}
 
section#contato div#redes h3{
   text-align: center;
   font-size: 2.5rem; 
   /* margin-bottom: 2rem;  */
}
 
section#contato div#redes div#icons{
   display: flex;
   justify-content: center;
}
 
section#contato div#redes div#icons a{
   text-decoration: none;
   color: #000000;
   font-size: 4rem;
   padding: 2rem;
   transition: all .4s ease-out;
}
 
section#contato div#redes div#icons a:hover{
   color: #dd0000;
}
 
section#contato div#redes div#icons a i{
    transition: all .4s ease-out;
}
 
section#contato div#redes div#icons a i:hover{
   transform: scale(1.2);
}
 
section#contato div#form{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
 
section#contato div#form h3{
   width: 100%;
   text-align: center;
   font-size: 2.5rem;
   /* margin-bottom: 2rem; */
}
 
section#contato div#form form{
    width: 70%;
}

section#contato div#form form input, textarea{
    width: 100%;
    padding: .5rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    margin-top: .5rem;
    margin-bottom: 1rem;
    outline: none;
}

section#contato div#form form label{
    font-size: 1.2rem;  
}

section#contato div#form form p.warning{
    color: red;
    font-size: 15px;
}

section#contato div#form form button{
    border: 1px solid #000000;
    background-color: #fff;
    color: #000000;
    padding: 1rem;
    font-size: .8vw;
    font-weight: 600;
    border-radius: .5rem;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .6s ease-out;
    width: 40%;
}

section#contato div#form form button:hover{
    background-color: #dd0000;
    border: #dd0000;
    color: #fff;
    transform: scale(1.2);
}

footer {
    margin: 0;
    text-align: center;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.20);

}

/* Send Success */
section#success{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(235, 255, 235);
}
  
section#success div#card{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 4rem;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    width: 40%;
}
  
section#success div#card h1{
    margin: 2rem 0rem;
}
  
section#success div#card i{
    font-size: 5rem;
}
  
section#success div#card h3{
    margin-bottom: 2rem;
}
  
section#success div#card p{
    margin-bottom: 3rem;
    width: 100%;
    word-break: break-word;
}
  
section#success div#card a{
    text-decoration: none;
    padding: 1rem;
    border: 1px solid #dd0000;
    color: #fff;
    border-radius: .4rem;
    transition: all .4s ease-out;
}
  
section#success div#card a:hover{
    background-color: #dd0000;
    color: #fff;
}

  /* Send Success */
